footer {

  display: flex;
  flex-direction: column;
  position: relative;
  bottom: var(--height);
  z-index: 2;
  width: 100dvmin;
  --height: var(--size-8);
  height: var(--height);
  background: color-mix(in srgb, var(--trueBg), transparent 20%);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  border-top-left-radius: calc(var(--roundness) * 2);
  border-top-right-radius: calc(var(--roundness) * 2);
  box-shadow: 0 -1px 0 oklch(from var(--text) l c h / 0.06);
  overflow: hidden;

  &:has(.miniplayer) {
    --height: calc(var(--size-9) + var(--size-7));

    @media(orientation:portrait) {
      border-top: none;

      img {
        height: var(--size-8);
        margin-left: var(--size-1);
      }
    }
  }

  @media(orientation:landscape) {
    margin: 0 auto;
    border: var(--border);
    border-bottom: none;
  }

}