.toggleSwitch {
  width: 100%;
  margin: 0 auto;
  padding: var(--size-2) 0;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--roundness);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--onBg);
  }

  label {
    width: calc(100% - 2.8rem);
  }

  span {
    cursor: pointer;
    inset: 0;
    margin: 0;
    background-color: oklch(from var(--text) l c h / 0.2);
    border-radius: 999px;
    width: 2.6rem;
    border: none;
    padding: 0;


    &,
    &:before {
      height: 1.5rem;
      transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:before {
      content: "";
      height: calc(100% - 4px);
      aspect-ratio: 1;
      margin: 2px;
      background-color: var(--text);
      border-radius: 999px;
      display: block;
      box-shadow: none;
    }

  }

  input {
    display: none;
  }

  input:checked+span {
    background: var(--spotifyGreen);
  }

  input:checked+span:before {
    transform: translateX(calc(2.6rem - 100% - 4px));
    background-color: var(--bg);
  }
}
