nav {
  display: flex;
  width: 100%;
  margin: auto 0;
  background-color: var(--bg);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: env(safe-area-inset-bottom);

  i {
    font-size: var(--font-size-5);
    padding: var(--size-3) 0;
    opacity: 0.6;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    color: var(--text);
    height: auto;
  }

  .on {
    opacity: 1;
    color: var(--text);
  }
}